<li data-todo-id="{{id}}" class="{{#if completed}}completed{{/if}}">
    <div class="view">
        <input class="toggle js-TodoItemView-completeCheckbox" type="checkbox" {{#if completed}}checked{{/if}} data-todo-id="{{id}}">
        <label>{{title}}</label>
        <button class="destroy"></button>
    </div>
</li>
