{{#extend "layout"}}
    {{#content "body" mode="append" }}
        <section class="todoapp">
            <header class="header js-HeaderView">
                <h1>todos</h1>
                <input class="new-todo js-HeaderView-input" placeholder="What needs to be done?" autofocus>
            </header>

            <section class="main js-BodyView">
                <input class="toggle-all js-BodyView-toggleSelectAll" type="checkbox">
                <label for="toggle-all">Mark all as complete</label>
                <ul class="todo-list js-BodyView-todoList">

                </ul>
            </section>

            <footer class="footer js-FooterView">
                <span class="todo-count js-FooterView-count"></span>
                <ul class="filters">
                    <li><a href="#/" class="js-FooterView-navItem">All</a></li>
                    <li><a href="#/active" class="js-FooterView-navItem">Active</a></li>
                    <li><a href="#/completed" class="js-FooterView-navItem">Completed</a></li>
                </ul>
                <button class="clear-completed js-FooterView-clearCompletedBtn">Clear completed</button>
            </footer>
        </section>

        <footer class="info">
            <p>Double-click to edit a todo</p>
            <br>
            <p>Written by <a href="http://twitter.com/lukeed05">Luke Edwards</a></p>
            <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </footer>
    {{/content}}
{{/extend}}
