{{#extend "layout"}}
    {{#content "body" mode="append" }}
        <h1>Welcome</h1> <p>
                Star my project <a href="https://github.com/codeBelt/slush-project" target="_blank">slush project</a>
            </p> {{/content}}
{{/extend}}